<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<script>
if (("www.gshakhn.com" == window.location.host) && (window.location.protocol != 'https:')) {
  window.location = window.location.toString().replace(/^http:/, "https:");
}
if ("gshakhn.com" == window.location.host) {
  if (window.location.protocol === "https:") {
    window.location = window.location.toString().replace("https://gshakhn.com", "https://www.gshakhn.com");
  } else {
    window.location = window.location.toString().replace("http://gshakhn.com", "https://www.gshakhn.com");
  }
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<!-- end custom head snippets -->
